src/assets/zdocmaster/EPROC/PURCHASE_ORDER/INBOUND/UPSERT/2.3_0/entity_file.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:integration-inbound="http://www.zycus.com/integration/schemas/IntegrationInbound" targetNamespace="http://www.zycus.com/integration/schemas/IntegrationInbound" version="1.0">
  <xs:element name="IntegrationDetails" type="integration-inbound:inboundIntegrationDetails"/>
  <xs:element name="IntegrationEntity" type="integration-inbound:inboundIntegrationEntity"/>
  <xs:complexType name="inboundIntegrationEntity">
    <xs:sequence>
      <xs:element name="integrationEntityHeader" type="integration-inbound:InboundIntegrationHeader"/>
      <xs:element name="integrationEntityDetails" type="integration-inbound:inboundIntegrationEntityDetails"/>
      <xs:element minOccurs="0" name="processingErrors" type="integration-inbound:processingErrors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundIntegrationHeader">
    <!-- <xs:complexContent> -->
    <!-- <xs:extension base="integration-inbound:BaseIntegrationHeader"> -->
    <xs:all>
      <xs:element name="integrationTrackingNumber" type="xs:string"/>
      <xs:element minOccurs="1" name="referenceCodeForEntity" type="xs:string"/>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="entity" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="zDocBaseVersion" type="xs:string"/>
      <xs:element name="zDocCustomVersion" type="xs:string"/>
      <xs:element minOccurs="0" name="timestampUTC" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="integration-inbound:attachments"/>
    </xs:all>
    <!-- </xs:extension> -->
    <!-- </xs:complexContent> -->
  </xs:complexType>
  <xs:complexType name="inboundIntegrationEntityDetails">
    <xs:choice>
      <xs:element minOccurs="1" name="poDetails" type="integration-inbound:poDetails"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="inboundIntegrationDetails">
    <xs:all>
      <xs:element name="integrationEntities">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="integrationEntity" type="integration-inbound:inboundIntegrationEntity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="processingErrors">
    <xs:sequence>
      <xs:element minOccurs="1" name="shouldRetry" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="error" type="integration-inbound:error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:all>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="errorDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="action" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="attachments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="attachment" type="integration-inbound:attachment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:string"/>
      <xs:element minOccurs="1" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="size" type="xs:long"/>
      <xs:element minOccurs="0" name="checksum" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- <xs:complexType name="BaseIntegrationHeader"> -->
  <!-- <xs:all/> -->
  <!-- </xs:complexType> -->
  <xs:complexType name="poDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="1" name="externalId" type="xs:string"/>
      <xs:element minOccurs="1" name="status" type="xs:string"/>
      <xs:element minOccurs="1" name="poHeader">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="purchaseOrderNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="archive" type="xs:boolean"/>
            <xs:element minOccurs="1" name="poDescription" type="xs:string"/>
            <xs:element minOccurs="1" name="poType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountingCurrencyCode" type="xs:string"/>
            <xs:element minOccurs="0" name="accountingCurrencyExchangeRate" type="xs:double"/>
            <xs:element minOccurs="0" name="freightCharges" type="xs:double"/>
            <xs:element minOccurs="0" name="freightTaxAmount" type="xs:double"/>
            <xs:element minOccurs="1" name="grossTotalAmount" type="xs:double"/>
            <xs:element minOccurs="1" name="checkoutBuyer">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="requesterDetails" type="xs:string"/>
            <xs:element minOccurs="0" name="requester">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="advanceAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="allowInvoice" type="xs:boolean"/>
            <xs:element minOccurs="0" name="amountToBeApproved" type="xs:double"/>
            <xs:element minOccurs="0" name="approvedAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="lastApprovedOn" type="xs:long"/>
            <xs:element minOccurs="0" name="poTotal" type="xs:double"/>
            <xs:element minOccurs="0" name="chargedAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="chargedTaxAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="totalTaxAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="netTotalAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="totalItems" type="xs:int"/>
            <xs:element minOccurs="0" name="deliverToUserType" type="xs:int"/>
            <xs:element minOccurs="1" name="deliveryTermCode" type="xs:string"/>
            <xs:element minOccurs="0" name="deliveryTo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="discountLevel" type="xs:int"/>
            <xs:element minOccurs="0" name="discountType" type="xs:int"/>
            <xs:element minOccurs="0" name="discountValue" type="xs:double"/>
            <xs:element minOccurs="0" name="invoiceStatus" type="xs:int"/>
            <xs:element minOccurs="0" name="invoiceUntilDate" type="xs:long"/>
            <xs:element minOccurs="0" name="invoicedAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="invoiceToAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressName" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
                  <xs:element minOccurs="0" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="zip" type="xs:string"/>
                  <xs:element minOccurs="0" name="state" type="xs:string"/>
                  <xs:element minOccurs="0" name="country" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressStatus" type="xs:boolean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="billToAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressName" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
                  <xs:element minOccurs="0" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="zip" type="xs:string"/>
                  <xs:element minOccurs="0" name="state" type="xs:string"/>
                  <xs:element minOccurs="0" name="country" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressStatus" type="xs:boolean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="shipToAddressType" type="xs:int"/>
            <xs:element minOccurs="1" name="shipToAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressName" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
                  <xs:element minOccurs="0" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="zip" type="xs:string"/>
                  <xs:element minOccurs="0" name="state" type="xs:string"/>
                  <xs:element minOccurs="0" name="country" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressStatus" type="xs:boolean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="closedOn" type="xs:long"/>
            <xs:element minOccurs="1" name="company">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="companyLegalName" type="xs:string"/>
                  <xs:element minOccurs="0" name="companyHQLocationCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="companyCurrency" type="xs:string"/>
                  <xs:element minOccurs="1" name="companyCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="companyName" type="xs:string"/>
                  <xs:element minOccurs="0" name="companyStatus" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="companyERPID" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="businessUnit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="buCompanyCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="buHQLocationCode" type="xs:string"/>
                  <xs:element minOccurs="1" name="buCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="buName" type="xs:string"/>
                  <xs:element minOccurs="0" name="buStatus" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="buERPID" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="locationCode">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="location">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="shipToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="billToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="invoiceToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="regionCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="apContactEmailID" type="xs:string"/>
                        <xs:element minOccurs="1" name="locationCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="locationName" type="xs:string"/>
                        <xs:element minOccurs="0" name="locationStatus" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="locationERPID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="confirmStatus" type="xs:int"/>
            <xs:element minOccurs="0" name="confirmedOn" type="xs:long"/>
            <xs:element minOccurs="0" name="consumedOrderValue" type="xs:double"/>
            <xs:element minOccurs="0" name="contractId" type="xs:string"/>
            <xs:element minOccurs="0" name="contractNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="contractType" type="xs:int"/>
            <xs:element minOccurs="0" name="deliverOn" type="xs:long"/>
            <xs:element minOccurs="0" name="attachments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="25" minOccurs="0" name="attachment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="attachmentID" type="xs:string"/>
                        <xs:element minOccurs="0" name="attachmentName" type="xs:string"/>
                        <xs:element minOccurs="0" name="attachmentVisibility" type="xs:string"/>
                        <xs:element minOccurs="0" name="attachmentType" type="xs:integer"/>
                        <xs:element minOccurs="0" name="attachmentComments" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="fields">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="50" minOccurs="0" name="field">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="id" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" type="xs:string"/>
                        <xs:element minOccurs="0" name="value" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="estimatedDeliveryOn" type="xs:long"/>
            <xs:element minOccurs="0" name="buyerNotes" type="xs:string"/>
            <xs:element minOccurs="0" name="orderAuthorizationType" type="xs:string"/>
            <xs:element minOccurs="0" name="paidAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="parentBPOId" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentAmountInApproval" type="xs:double"/>
            <xs:element minOccurs="0" name="paymentMethod" type="xs:int"/>
            <xs:element minOccurs="0" name="paymentStatus" type="xs:string"/>
            <xs:element minOccurs="1" name="paymentTermId" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentTermName" type="xs:string"/>
            <xs:element minOccurs="0" name="purchaseType" type="xs:string"/>
            <xs:element minOccurs="0" name="purchaseTypeAtLineLevel" type="xs:boolean"/>
            <xs:element minOccurs="0" name="retrospectivePo" type="xs:boolean"/>
            <xs:element minOccurs="0" name="quotationNo" type="xs:string"/>
            <xs:element minOccurs="0" name="receiptStatus" type="xs:int"/>
            <xs:element minOccurs="0" name="referenceType" type="xs:int"/>
            <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
            <xs:element minOccurs="0" name="releaseNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="releasedOn" type="xs:long"/>
            <xs:element minOccurs="0" name="reopenedPO" type="xs:boolean"/>
            <xs:element minOccurs="0" name="requireReceipt" type="xs:boolean"/>
            <xs:element minOccurs="0" name="resubmitionCount" type="xs:int"/>
            <xs:element minOccurs="1" name="costingSplitLevel" type="xs:int"/>
            <xs:element minOccurs="0" name="costingSplitType" type="xs:int"/>
            <xs:element minOccurs="0" name="submittedPOAmount" type="xs:double"/>
            <xs:element minOccurs="0" name="submittedOn" type="xs:long"/>
            <xs:element minOccurs="1" name="supplierAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
                  <xs:element minOccurs="0" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="zip" type="xs:string"/>
                  <xs:element minOccurs="0" name="state" type="xs:string"/>
                  <xs:element minOccurs="0" name="country" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="supplierAddressERPId" type="xs:string"/>
            <xs:element minOccurs="0" name="supplierAddressId" type="xs:string"/>
            <xs:element minOccurs="1" name="supplierCurrencyCode" type="xs:string"/>
            <xs:element minOccurs="0" name="supplierERPID" type="xs:string"/>
            <xs:element minOccurs="0" name="supplierId" type="xs:string"/>
            <xs:element minOccurs="0" name="suppPOContactEmail" type="xs:string"/>
            <xs:element minOccurs="1" name="supplierPOContactType" type="xs:int"/>
            <xs:element minOccurs="0" name="supplierPreferenceType" type="xs:int"/>
            <xs:element minOccurs="0" name="termsAndConditions" type="xs:string"/>
            <xs:element minOccurs="0" name="totalBPOOrderValue" type="xs:double"/>
            <xs:element minOccurs="0" name="assignBudget" type="xs:boolean"/>
            <xs:element minOccurs="0" name="validFrom" type="xs:long"/>
            <xs:element minOccurs="0" name="validTo" type="xs:long"/>
            <xs:element minOccurs="0" name="amendCount" type="xs:int"/>
            <xs:element minOccurs="0" name="amendStatus" type="xs:int"/>
            <xs:element minOccurs="0" name="amendComments" type="xs:string"/>
            <xs:element minOccurs="0" name="costings">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="200" minOccurs="1" name="costing">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="budgetId" type="xs:string"/>
                        <xs:element minOccurs="0" name="budgetLineId" type="xs:string"/>
                        <xs:element minOccurs="0" name="costCenterName" type="xs:string"/>
                        <xs:element minOccurs="1" name="costCenterCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="costingValue" type="xs:double"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="taxes">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="25" minOccurs="0" name="tax">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="compoundTax" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="taxName" type="xs:string"/>
                  <xs:element minOccurs="1" name="taxRate" type="xs:double"/>
                  <xs:element minOccurs="0" name="taxType" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" name="items">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="200" minOccurs="1" name="item">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="lineItemId" type="xs:string"/>
                  <xs:element minOccurs="1" name="lineNumber" type="xs:int"/>
                  <xs:element minOccurs="0" name="referenceRequisitionId" type="xs:string"/>
                  <xs:element minOccurs="0" name="requisitionLineNo" type="xs:int"/>
                  <xs:element minOccurs="0" name="referenceRequisitionNo" type="xs:string"/>
                  <xs:element minOccurs="0" name="adjustedCreditQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="allowedTotalPrice" type="xs:double"/>
                  <xs:element minOccurs="0" name="applyNoTaxes" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="approvalStatus" type="xs:int"/>
                  <xs:element minOccurs="0" name="approvedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="assetCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="assetCodeType" type="xs:int"/>
                  <xs:element minOccurs="0" name="attachments">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="attachment">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="attachmentID" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentName" type="xs:string"/>
                              <xs:element minOccurs="0" name="attachmentVisibility" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentType" type="xs:integer"/>
                              <xs:element minOccurs="0" name="attachmentComments" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="requesterDetails">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                        <xs:element minOccurs="0" name="userId" type="xs:string"/>
                        <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
                        <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="categoryCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="categoryName" type="xs:string"/>
                  <xs:element minOccurs="0" name="chargedLineAmount" type="xs:double"/>
                  <xs:element minOccurs="0" name="chargedLineTaxAmount" type="xs:double"/>
                  <xs:element minOccurs="0" name="chargedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="contractId" type="xs:string"/>
                  <xs:element minOccurs="0" name="contractNo" type="xs:string"/>
                  <xs:element minOccurs="0" name="contractType" type="xs:int"/>
                  <xs:element minOccurs="0" name="currency" type="xs:string"/>
                  <xs:element minOccurs="0" name="deliverToUser">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
                        <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
                        <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                        <xs:element minOccurs="0" name="userId" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="deliverToType" type="xs:int"/>
                  <xs:element minOccurs="0" name="deliveryOn" type="xs:long"/>
                  <xs:element minOccurs="0" name="deliveryUpto" type="xs:long"/>
                  <xs:element minOccurs="0" name="itemDescription" type="xs:string"/>
                  <xs:element minOccurs="0" name="discountType" type="xs:int"/>
                  <xs:element minOccurs="0" name="discountValue" type="xs:double"/>
                  <xs:element minOccurs="0" name="fields">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="50" minOccurs="0" name="field">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="id" type="xs:string"/>
                              <xs:element minOccurs="0" name="type" type="xs:string"/>
                              <xs:element minOccurs="0" name="name" type="xs:string"/>
                              <xs:element minOccurs="0" name="value" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="greenItem" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="itemImageURL" type="xs:string"/>
                  <xs:element minOccurs="0" name="internalComment" type="xs:string"/>
                  <xs:element minOccurs="0" name="invoicedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="itemAttributes">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="25" minOccurs="0" name="itemAttribute">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="attributeKey" type="xs:string"/>
                              <xs:element minOccurs="1" name="attributeValue" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="itemTaxAmount" type="xs:double"/>
                  <xs:element minOccurs="0" name="itemTaxes">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tax">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="taxName" type="xs:string"/>
                              <xs:element minOccurs="1" name="taxRate" type="xs:double"/>
                              <xs:element minOccurs="0" name="taxType" type="xs:string"/>
                              <xs:element minOccurs="0" name="itemId" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="itemName" type="xs:string"/>
                  <xs:element minOccurs="1" name="itemTotalAmount" type="xs:double"/>
                  <xs:element minOccurs="1" name="itemType" type="xs:int"/>
                  <xs:element minOccurs="0" name="manufacturerName" type="xs:string"/>
                  <xs:element minOccurs="0" name="manufacturerPartId" type="xs:string"/>
                  <xs:element minOccurs="0" name="manufacturerProductUrl" type="xs:string"/>
                  <xs:element minOccurs="1" name="marketPrice" type="xs:double"/>
                  <xs:element minOccurs="0" name="maxUnitPrice" type="xs:double"/>
                  <xs:element minOccurs="0" name="netAcceptedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="buyerOrderedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="itemOrigin" type="xs:int"/>
                  <xs:element minOccurs="0" name="preferredItem" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="itemPrice" type="xs:double"/>
                  <xs:element minOccurs="0" name="purchaseType" type="xs:string"/>
                  <xs:element minOccurs="1" name="itemQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="receivedType" type="xs:int"/>
                  <xs:element minOccurs="0" name="receivedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="requester" type="xs:string"/>
                  <xs:element minOccurs="1" name="shipToAddressCode" type="xs:string"/>
                  <xs:element minOccurs="1" name="shipToAddressType" type="xs:int"/>
                  <xs:element minOccurs="1" name="shipToAddress">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="addressName" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="zip" type="xs:string"/>
                        <xs:element minOccurs="0" name="state" type="xs:string"/>
                        <xs:element minOccurs="0" name="country" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressStatus" type="xs:boolean"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="itemSourceType" type="xs:int"/>
                  <xs:element minOccurs="0" name="sourcingStatus" type="xs:int"/>
                  <xs:element minOccurs="0" name="costingSplitType" type="xs:int"/>
                  <xs:element minOccurs="0" name="supplierComment" type="xs:string"/>
                  <xs:element minOccurs="0" name="supplierPartId" type="xs:string"/>
                  <xs:element minOccurs="0" name="supplierProductUrl" type="xs:string"/>
                  <xs:element minOccurs="0" name="totalAcceptedQuantity" type="xs:double"/>
                  <xs:element minOccurs="0" name="totalReceivedQuantity" type="xs:double"/>
                  <xs:element minOccurs="1" name="unitOfMeasure" type="xs:string"/>
                  <xs:element minOccurs="0" name="costings">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="200" minOccurs="1" name="costing">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="budgetId" type="xs:string"/>
                              <xs:element minOccurs="0" name="budgetLineId" type="xs:string"/>
                              <xs:element minOccurs="1" name="businessUnitCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="costCenterCode" type="xs:string"/>
                              <xs:element minOccurs="0" name="projectCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="costingValue" type="xs:double"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="accountings">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="glAccountTypeCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="generalLedgerCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="accountedValue" type="xs:double"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="validCombinations">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="200" minOccurs="0" name="itemDetails">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="distributionLineNumber" type="xs:string"/>
                              <xs:element minOccurs="1" name="validRules">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="200" minOccurs="0" name="field">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="1" name="id" type="xs:string"/>
                                          <xs:element minOccurs="0" name="type" type="xs:string"/>
                                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                                          <xs:element minOccurs="0" name="value" type="xs:string"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="1" name="distributedAmount" type="xs:double"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
