src/assets/zdocmaster/EINVOICE/INVOICE/INBOUND/CREATE/1.0_0/entity_file.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:integration-inbound="http://www.zycus.com/integration/schemas/IntegrationInbound" targetNamespace="http://www.zycus.com/integration/schemas/IntegrationInbound" version="1.0">
  <xs:element name="IntegrationDetails" type="integration-inbound:inboundIntegrationDetails"/>
  <xs:element name="IntegrationEntity" type="integration-inbound:inboundIntegrationEntity"/>
  <xs:complexType name="inboundIntegrationEntity">
    <xs:sequence>
      <xs:element name="integrationEntityHeader" type="integration-inbound:InboundIntegrationHeader"/>
      <xs:element name="integrationEntityDetails" type="integration-inbound:inboundIntegrationEntityDetails"/>
      <xs:element minOccurs="0" name="processingErrors" type="integration-inbound:processingErrors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundIntegrationHeader">
    <!-- <xs:complexContent> -->
    <!-- <xs:extension base="integration-inbound:BaseIntegrationHeader"> -->
    <xs:all>
      <xs:element name="integrationTrackingNumber" type="xs:string"/>
      <xs:element minOccurs="1" name="referenceCodeForEntity" type="xs:string"/>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="entity" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="zDocBaseVersion" type="xs:string"/>
      <xs:element name="zDocCustomVersion" type="xs:string"/>
      <xs:element minOccurs="0" name="timestampUTC" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="integration-inbound:attachments"/>
    </xs:all>
    <!-- </xs:extension> -->
    <!-- </xs:complexContent> -->
  </xs:complexType>
  <xs:complexType name="inboundIntegrationEntityDetails">
    <xs:choice>
      <xs:element minOccurs="1" name="invoice" type="integration-inbound:invoice"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="inboundIntegrationDetails">
    <xs:all>
      <xs:element name="integrationEntities">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="integrationEntity" type="integration-inbound:inboundIntegrationEntity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="processingErrors">
    <xs:sequence>
      <xs:element minOccurs="1" name="shouldRetry" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="error" type="integration-inbound:error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:all>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="errorDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="action" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="attachments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="attachment" type="integration-inbound:attachment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:string"/>
      <xs:element minOccurs="1" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="size" type="xs:long"/>
      <xs:element minOccurs="0" name="checksum" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- <xs:complexType name="BaseIntegrationHeader"> -->
  <!-- <xs:all/> -->
  <!-- </xs:complexType> -->
  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="invoiceUniqueId" type="xs:string"/>
      <xs:element minOccurs="0" name="invoiceStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
      <xs:element minOccurs="1" name="createdOn" type="xs:long"/>
      <xs:element minOccurs="1" name="header">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="origin" type="xs:string"/>
            <xs:element minOccurs="1" name="originType" type="xs:string"/>
            <xs:element minOccurs="0" name="originId" type="xs:string"/>
            <xs:element minOccurs="0" name="invoiceIntegrationId" type="xs:string"/>
            <xs:element minOccurs="1" name="invoiceNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="invoiceErpId" type="xs:string"/>
            <xs:element minOccurs="1" name="createdOn" type="xs:long"/>
            <xs:element minOccurs="1" name="invoiceCreatedBy">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="invoiceDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="comments" type="xs:string"/>
            <xs:element minOccurs="0" name="poNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="poID" type="xs:string"/>
            <xs:element minOccurs="1" name="invoiceDate" type="xs:long"/>
            <xs:element minOccurs="0" name="invoiceDueDate" type="xs:long"/>
            <xs:element minOccurs="0" name="discountDueDate" type="xs:long"/>
            <xs:element minOccurs="0" name="attachments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="25" minOccurs="0" name="attachment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="attachmentId" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentName" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentSize" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="buyer">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="requestor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="shipToAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="supplier">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="supplierID" type="xs:string"/>
                  <xs:element minOccurs="0" name="globalSupplierID" type="xs:string"/>
                  <xs:element minOccurs="0" name="displayGlobalSupplierID" type="xs:string"/>
                  <xs:element minOccurs="0" name="supplierERPID" type="xs:string"/>
                  <xs:element minOccurs="0" name="supplierAddress">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="supplierRemitToAddress">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="addressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="paymentTerm">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="paymentType" type="xs:string"/>
                  <xs:element minOccurs="0" name="paymentTermID" type="xs:string"/>
                  <xs:element minOccurs="0" name="paymentTermErpID" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="currency">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="supplierCurrencyName" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="discount">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="discountLevel" type="xs:string"/>
                  <xs:element minOccurs="1" name="discountType" type="xs:string"/>
                  <xs:element minOccurs="1" name="discountValue" type="xs:decimal"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="exciseDuties" type="xs:decimal"/>
            <xs:element minOccurs="0" name="extraCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="freightCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="insuranceCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="isTaxIncluded" type="xs:boolean"/>
            <xs:element minOccurs="0" name="taxes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="tax">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="isFreightTax" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="isSelfAssessedTax" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="isCompoundTax" type="xs:boolean"/>
                        <xs:element minOccurs="1" name="taxType" type="xs:string"/>
                        <xs:element minOccurs="1" name="taxName" type="xs:string"/>
                        <xs:element minOccurs="0" name="taxRate" type="xs:decimal"/>
                        <xs:element minOccurs="1" name="taxAmount" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="totalTaxAmount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="totalSelfAssessedTaxAmount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="taxesOnInvoiceGrossAmount">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="taxOnInvoiceGrossAmount">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="isBorneByBuyer" type="xs:boolean"/>
                        <xs:element minOccurs="1" name="taxType" type="xs:string"/>
                        <xs:element minOccurs="1" name="taxName" type="xs:string"/>
                        <xs:element minOccurs="0" name="taxRate" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="taxCalculatedOnAmount" type="xs:decimal"/>
                        <xs:element minOccurs="1" name="taxAmount" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="totalTaxOnInvoiceGrossAmountBorneByVendor" type="xs:decimal"/>
            <xs:element minOccurs="0" name="totalTaxOnInvoiceGrossAmountBorneByBuyer" type="xs:decimal"/>
            <xs:element minOccurs="1" name="invoiceGrossTotal" type="xs:decimal"/>
            <xs:element minOccurs="0" name="fields">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="field">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="id" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" type="xs:string"/>
                        <xs:element minOccurs="0" name="value" type="xs:string"/>
                        <xs:element minOccurs="0" name="valueID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="invoiceTotal" type="xs:decimal"/>
            <xs:element minOccurs="0" name="discountedGrossTotal" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" name="lineItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="lineItem">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="lineNumber" type="xs:integer"/>
                  <xs:element minOccurs="0" name="itemNumber" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemName" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemUOM" type="xs:string"/>
                  <xs:element minOccurs="0" name="marketPrice" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="itemType" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemCategory" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemCategoryCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemAmount" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="itemQuantity" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="discount">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="discountType" type="xs:string"/>
                        <xs:element minOccurs="1" name="discountValue" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="currency">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="supplierCurrencyName" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="isTaxIncluded" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="taxes">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tax">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="isSelfAssessedTax" type="xs:boolean"/>
                              <xs:element minOccurs="1" name="taxType" type="xs:string"/>
                              <xs:element minOccurs="1" name="taxName" type="xs:string"/>
                              <xs:element minOccurs="0" name="taxRate" type="xs:decimal"/>
                              <xs:element minOccurs="1" name="taxAmount" type="xs:decimal"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="attachments">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="25" minOccurs="0" name="attachment">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="attachmentId" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentName" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentSize" type="xs:decimal"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="fields">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="field">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="id" type="xs:string"/>
                              <xs:element minOccurs="0" name="type" type="xs:string"/>
                              <xs:element minOccurs="0" name="name" type="xs:string"/>
                              <xs:element minOccurs="0" name="value" type="xs:string"/>
                              <xs:element minOccurs="0" name="valueID" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
