src/assets/zdocmaster/EINVOICE/CREDIT_MEMO_WITH_APPROVAL/OUTBOUND/GET/2.0_0/entity_file.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:integration-outbound="http://www.zycus.com/integration/schemas/IntegrationOutbound" targetNamespace="http://www.zycus.com/integration/schemas/IntegrationOutbound" version="1.0">
  <xs:element name="IntegrationDetails" type="integration-outbound:outboundIntegrationDetails"/>
  <xs:element name="IntegrationEntity" type="integration-outbound:outboundIntegrationEntity"/>
  <xs:complexType name="outboundIntegrationEntity">
    <xs:sequence>
      <xs:element name="integrationEntityHeader" type="integration-outbound:OutboundIntegrationHeader"/>
      <xs:element name="integrationEntityDetails" type="integration-outbound:outboundIntegrationEntityDetails"/>
      <xs:element minOccurs="0" name="processingErrors" type="integration-outbound:processingErrors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundIntegrationHeader">
    <!-- <xs:complexContent> <xs:extension base="integration-outbound:BaseIntegrationHeader"> -->
    <xs:all>
      <xs:element name="integrationTrackingNumber" type="xs:string"/>
      <xs:element minOccurs="1" name="referenceCodeForEntity" type="xs:string"/>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="entity" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="zDocBaseVersion" type="xs:string"/>
      <xs:element name="zDocCustomVersion" type="xs:string"/>
      <xs:element minOccurs="0" name="timestampUTC" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="integration-outbound:attachments"/>
    </xs:all>
    <!-- </xs:extension> </xs:complexContent> -->
  </xs:complexType>
  <xs:complexType name="outboundIntegrationEntityDetails">
    <xs:choice>
      <xs:element minOccurs="1" name="creditMemo" type="integration-outbound:creditMemo"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="outboundIntegrationDetails">
    <xs:all>
      <xs:element minOccurs="1" name="packerId" type="xs:string"/>
      <xs:element minOccurs="0" name="timestampUTC" type="xs:string"/>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element name="integrationEntities">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="integrationEntity" type="integration-outbound:outboundIntegrationEntity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="processingErrors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="error" type="integration-outbound:error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:all>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="errorDescription" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="attachments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="attachment" type="integration-outbound:attachment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:string"/>
      <xs:element minOccurs="1" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="size" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <!-- <xs:complexType name="BaseIntegrationHeader"> <xs:all/> </xs:complexType> -->
  <xs:complexType name="creditMemo">
    <xs:sequence>
      <xs:element minOccurs="1" name="creditMemoUniqueId" type="xs:string"/>
      <xs:element minOccurs="1" name="creditMemoStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
      <xs:element minOccurs="0" name="createdOn" type="xs:long"/>
      <xs:element minOccurs="0" name="updatedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="updatedOn" type="xs:long"/>
      <xs:element minOccurs="1" name="header">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="creditMemoType" type="xs:string"/>
            <xs:element minOccurs="1" name="creditMemoIntegrationId" type="xs:string"/>
            <xs:element minOccurs="1" name="creditMemoNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="creditMemoErpId" type="xs:string"/>
            <xs:element minOccurs="1" name="createdOn" type="xs:long"/>
            <xs:element minOccurs="1" name="creditMemoCreatedBy">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userLastName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="1" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="lastModifiedOn" type="xs:long"/>
            <xs:element minOccurs="1" name="lastModifiedBy">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userLastName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="1" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="creditMemoVersion" type="xs:integer"/>
            <xs:element minOccurs="1" name="organizationUnit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="company">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="companyLegalName" type="xs:string"/>
                        <xs:element minOccurs="1" name="companyHQLocation">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="shipToAddressCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="billToAddressCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="invoiceToAddressCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="regionCode" type="xs:string"/>
                              <xs:element minOccurs="0" name="apContactEmailID" type="xs:string"/>
                              <xs:element minOccurs="1" name="locationCode" type="xs:string"/>
                              <xs:element minOccurs="1" name="locationName" type="xs:string"/>
                              <xs:element minOccurs="1" name="isLocationActive" type="xs:boolean"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="1" name="companyCurrency" type="xs:string"/>
                        <xs:element minOccurs="1" name="companyCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="companyName" type="xs:string"/>
                        <xs:element minOccurs="1" name="isCompanyActive" type="xs:boolean"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="businessUnit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="buCompanyCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="buHQLocationCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="buCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="buName" type="xs:string"/>
                        <xs:element minOccurs="1" name="isBUActive" type="xs:boolean"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="location">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="shipToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="billToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="creditMemoToAddressCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="regionCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="apContactEmailID" type="xs:string"/>
                        <xs:element minOccurs="1" name="locationCode" type="xs:string"/>
                        <xs:element minOccurs="1" name="locationName" type="xs:string"/>
                        <xs:element minOccurs="1" name="isLocationActive" type="xs:boolean"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="invoiceDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="comments" type="xs:string"/>
            <xs:element minOccurs="0" name="purchaseOrderNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="purchaseOrderID" type="xs:string"/>
            <xs:element minOccurs="0" name="purchaseType" type="xs:string"/>
            <xs:element minOccurs="1" name="creditMemoDate" type="xs:long"/>
            <xs:element minOccurs="1" name="invoiceToAddress">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="addressName" type="xs:string"/>
                  <xs:element minOccurs="1" name="addressLine1" type="xs:string"/>
                  <xs:element minOccurs="1" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="state" type="xs:string"/>
                  <xs:element minOccurs="1" name="country" type="xs:string"/>
                  <xs:element minOccurs="1" name="addressCode" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                  <xs:element minOccurs="0" name="isAddressActive" type="xs:boolean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="attachments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="25" minOccurs="0" name="attachment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="origin" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentId" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentName" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentSize" type="xs:decimal"/>
                        <xs:element minOccurs="1" name="attachmentType" type="xs:string"/>
                        <xs:element minOccurs="1" name="attachmentStatus" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="buyer">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userLastName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="1" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="requestor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="userFirstName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userLastName" type="xs:string"/>
                  <xs:element minOccurs="1" name="userEmailId" type="xs:string"/>
                  <xs:element minOccurs="1" name="userId" type="xs:string"/>
                  <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="supplier">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="supplierID" type="xs:string"/>
                  <xs:element minOccurs="1" name="globalSupplierID" type="xs:string"/>
                  <xs:element minOccurs="1" name="displayGlobalSupplierID" type="xs:string"/>
                  <xs:element minOccurs="0" name="supplierERPID" type="xs:string"/>
                  <xs:element minOccurs="1" name="supplierName" type="xs:string"/>
                  <xs:element minOccurs="0" name="isSupplierContracted" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="isSupplierPreferred" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="taxIDFormat" type="xs:string"/>
                  <xs:element minOccurs="0" name="taxID" type="xs:string"/>
                  <xs:element minOccurs="1" name="supplierStatus" type="xs:string"/>
                  <xs:element minOccurs="1" name="supplierAddress">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="addressLine1" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="state" type="xs:string"/>
                        <xs:element minOccurs="1" name="country" type="xs:string"/>
                        <xs:element minOccurs="1" name="addressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="supplierRemitToAddress">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="addressLine1" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" name="state" type="xs:string"/>
                        <xs:element minOccurs="1" name="country" type="xs:string"/>
                        <xs:element minOccurs="1" name="addressCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="addressERPID" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="currency">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="supplierCurrencyName" type="xs:string"/>
                  <xs:element minOccurs="1" name="accountingCurrency" type="xs:string"/>
                  <xs:element minOccurs="1" name="supplierToDefaultCurrencyExchangeRate" type="xs:decimal"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="accountingCurrencyTotal" type="xs:decimal"/>
            <xs:element minOccurs="0" name="discount">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="discountLevel" type="xs:string"/>
                  <xs:element minOccurs="0" name="discountType" type="xs:string"/>
                  <xs:element minOccurs="0" name="discountValue" type="xs:decimal"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="exciseDuties" type="xs:decimal"/>
            <xs:element minOccurs="0" name="extraCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="freightCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="insuranceCharges" type="xs:decimal"/>
            <xs:element minOccurs="0" name="taxes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="isTaxIncluded" type="xs:boolean"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="tax">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="isFreightTax" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="isCompoundTax" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="taxType" type="xs:string"/>
                        <xs:element minOccurs="0" name="taxName" type="xs:string"/>
                        <xs:element minOccurs="0" name="taxRate" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="taxAmount" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="totalTaxAmount" type="xs:decimal"/>
            <xs:element minOccurs="1" name="creditMemoGrossTotal" type="xs:decimal"/>
            <xs:element minOccurs="0" name="creditMemoAdjustedAmount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="paymentInApproval" type="xs:decimal"/>
            <xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
            <xs:element minOccurs="1" name="creditMemoTotal" type="xs:decimal"/>
            <xs:element minOccurs="1" name="discountedGrossTotal" type="xs:decimal"/>
            <xs:element minOccurs="0" name="fields">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="field">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="id" type="xs:string"/>
                        <xs:element minOccurs="1" name="type" type="xs:string"/>
                        <xs:element minOccurs="1" name="name" type="xs:string"/>
                        <xs:element minOccurs="1" name="value" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="creditMemoApprovals">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="approval">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="note" type="xs:string"/>
                        <xs:element minOccurs="0" name="approvalTimestamp" type="xs:long"/>
                        <xs:element minOccurs="0" name="approverName" type="xs:string"/>
                        <xs:element minOccurs="0" name="approverDesignation" type="xs:string"/>
                        <xs:element minOccurs="0" name="approverUserID" type="xs:string"/>
                        <xs:element minOccurs="0" name="approverErpId" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" name="auditTrail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="1" name="auditEntry">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="action" type="xs:string"/>
                        <xs:element minOccurs="0" name="user" type="xs:string"/>
                        <xs:element minOccurs="1" name="userID" type="xs:string"/>
                        <xs:element minOccurs="0" name="userErpId" type="xs:string"/>
                        <xs:element minOccurs="1" name="userRole" type="xs:string"/>
                        <xs:element minOccurs="1" name="timestamp" type="xs:long"/>
                        <xs:element minOccurs="1" name="version" type="xs:integer"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" name="lineItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="lineItem">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="lineNumber" type="xs:integer"/>
                  <xs:element minOccurs="1" name="itemName" type="xs:string"/>
                  <xs:element minOccurs="1" name="itemUOM" type="xs:string"/>
                  <xs:element minOccurs="1" name="marketPrice" type="xs:decimal"/>
                  <xs:element minOccurs="1" name="itemType" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemCategory" type="xs:string"/>
                  <xs:element minOccurs="0" name="itemCategoryCode" type="xs:string"/>
                  <xs:element minOccurs="1" name="itemAmount" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="itemQuantity" type="xs:decimal"/>
                  <xs:element minOccurs="1" name="itemSubTotal" type="xs:decimal"/>
                  <xs:element minOccurs="1" name="itemSubTotalWithoutTaxes" type="xs:decimal"/>
                  <xs:element minOccurs="1" name="apportionalableAmount" type="xs:decimal"/>
                  <xs:element minOccurs="1" name="amountApportioned" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="discount">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="discountType" type="xs:string"/>
                        <xs:element minOccurs="0" name="discountValue" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="currency">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="1" name="supplierCurrencyName" type="xs:string"/>
                        <xs:element minOccurs="1" name="accountingCurrency" type="xs:string"/>
                        <xs:element minOccurs="1" name="supplierToDefaultCurrencyExchangeRate" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="costBookings">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="costBooking">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="businessUnitName" type="xs:string"/>
                              <xs:element minOccurs="0" name="businessUnitID" type="xs:string"/>
                              <xs:element minOccurs="0" name="costCenterName" type="xs:string"/>
                              <xs:element minOccurs="0" name="costCenterID" type="xs:string"/>
                              <xs:element minOccurs="0" name="projectName" type="xs:string"/>
                              <xs:element minOccurs="0" name="projectID" type="xs:string"/>
                              <xs:element minOccurs="0" name="costBooked" type="xs:decimal"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="accounting">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="purchaseType" type="xs:string"/>
                        <xs:element minOccurs="0" name="gLTypeName" type="xs:string"/>
                        <xs:element minOccurs="0" name="gLTypeID" type="xs:string"/>
                        <xs:element minOccurs="0" name="gLAccount" type="xs:string"/>
                        <xs:element minOccurs="0" name="gLAccountID" type="xs:string"/>
                        <xs:element minOccurs="0" name="assetCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="isFlexAccountingDistributionApplicable" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="flexibleAccountingDistributions">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="flexibleAccountingDistribution">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="distributionAmount" type="xs:decimal"/>
                              <xs:element minOccurs="1" name="costCenter">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="1" name="costCenterName" type="xs:string"/>
                                    <xs:element minOccurs="1" name="costCenterID" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="1" name="glAccount">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="1" name="gLTypeName" type="xs:string"/>
                                    <xs:element minOccurs="1" name="gLTypeID" type="xs:string"/>
                                    <xs:element minOccurs="1" name="gLAccount" type="xs:string"/>
                                    <xs:element minOccurs="1" name="gLAccountID" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="customAccountingField">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="1" name="id" type="xs:string"/>
                                    <xs:element minOccurs="1" name="type" type="xs:string"/>
                                    <xs:element minOccurs="1" name="name" type="xs:string"/>
                                    <xs:element minOccurs="1" name="value" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="project">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="1" name="projectName" type="xs:string"/>
                                    <xs:element minOccurs="1" name="projectID" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="businessUnit">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="1" name="businessUnitName" type="xs:string"/>
                                    <xs:element minOccurs="1" name="businessUnitID" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="assetCode" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="taxes">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="isTaxIncluded" type="xs:boolean"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tax">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="taxType" type="xs:string"/>
                              <xs:element minOccurs="1" name="taxName" type="xs:string"/>
                              <xs:element minOccurs="1" name="taxRate" type="xs:decimal"/>
                              <xs:element minOccurs="1" name="taxAmount" type="xs:decimal"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="1" name="itemTaxAmount" type="xs:decimal"/>
                  <xs:element minOccurs="0" name="attachments">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="25" minOccurs="0" name="attachment">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="origin" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentId" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentName" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentSize" type="xs:decimal"/>
                              <xs:element minOccurs="1" name="attachmentType" type="xs:string"/>
                              <xs:element minOccurs="1" name="attachmentStatus" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="fields">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="field">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="1" name="id" type="xs:string"/>
                              <xs:element minOccurs="1" name="type" type="xs:string"/>
                              <xs:element minOccurs="1" name="name" type="xs:string"/>
                              <xs:element minOccurs="1" name="value" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
